<%= form_for(@service, url: university_services_path([@university, @service])) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= t '.errors_header', count: @service.errors.count %></h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
