<h1>
  <%= @source.name %>
  <% if can? :edit, @source -%>
    <%= edit_link edit_source_path(@source) %>
  <% end -%>
</h1>

<% if @source.uri.present? -%>
  <div class="web"><%= link_to t('.web'), @source.uri %></div>
<% end -%>

<!--
<div class="indexes">
  <h2><%#= Index.model_name.human(count: 2) %></h2>
  <ul>
  </ul>
</div>
-->
