<h1><%= t '.header', university: @university.abbreviation %></h1>

<%= render  partial: 'index_table',
            locals: { studies: @database_studies,
                      klass: DatabaseStudy } %>

<br />

<%= link_to_if can?(:edit, @university), t('.new_database_study'), new_university_database_study_path(@university), :class => 'btn' do "" end %>
