<div class="hero-unit">
  <h1>ObservaEmpleo</h1>
  <p>
  Recurso informativo desarrollado en el marco del proyecto
  <em>Sistema Universitario para la Empleabilidad, SUE-Global</em>,
  para proporcionar información sobre empleo universitario.
  </p>
</div>
