<div class="hero-unit">
  <h1>ObservaEmpleo</h1>
  <p>
  La presente web se ha desarrollado en el marco del proyecto
  <em>Sistema Universitario para la Empleabilidad, SUE-Global</em>, con participaci칩n
  de todas las universidades espa침olas y la promoci칩n de <abbr title="Conferencia de Rectores de Universidades Espa침olas">CRUE</abbr>.
  </p>
</div>
