<h1>Listing general_frames</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @general_frames.each do |general_frame| %>
  <tr>
    <td><%= link_to 'Show', general_frame %></td>
    <td><%= link_to 'Edit', edit_general_frame_path(general_frame) %></td>
    <td><%= link_to 'Destroy', general_frame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New General frame', new_university_general_frame_path(@university) %>
