<h1>
  <%= t '.header' %>
  <% if can? :new, Journal -%>
    <%= new_link new_journal_path %>
  <% end -%>
</h1>


<%= render partial: 'journal', collection: @journals %>

<%= link_to_if can?(:new, Journal), t('.new_journal') , new_journal_path, :class => 'btn' do "" end %>
