h2.basic_question {
  .title {
    font-size: larger;
  }

  .author {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
  }

  .year {
    font-size: smaller;
    font-weight: normal;
  }
}
