ul.boolean_list {
  list-style: none;
  margin-left: 0;

  li {
    list-style: none;
    margin: 2px 0px;
  }

  .false {
    padding-left: 24px;
    background: url(image-path('exclamation.png')) 0 2px no-repeat;
  }

  .true {
    padding-left: 24px;
    background: url(image-path('tick.png')) 0 2px no-repeat;
  }
}
