body.indices {

  input.boolean {
    margin-top: 0;
  }

  .control-group {
    margin-top: 3px;
  }
  span.checkbox {
    display: block;

    input[type=checkbox] {
       display: inline;
    }

    label {
      display: inline;
    }
  }
  .child_index {
    .index_link {
      display: inline-block;
    }
    .actions {
      display: inline-block;
    }
  }
}
