.journal {

  margin-bottom: 15px;

  .title {
    width: 100%;
    font-size: 24px;
    display: inline-block;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 12px;
    padding-bottom: 10px;

    ul {
      margin-bottom: 0;
      display: inline-block;
    }
  }
}
