.services {
  li {
    font-size: larger;

    .dependency {
      font-style: italic;
      font-size: smaller;

      &:before {
        content: "(";
      }

      &:after {
        content: ")";
      }
    }
  }
}
