<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  God
  <b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li class="new_announcement"><%= link_to "New announcement", new_announcement_path() %></li>
</ul>
</li>
