<div class="field segmentation_variables">
  <h3><%= SegmentationVariable.model_name.human count: 3 %></h3>
  <% if segmentation_variables.empty? -%>
    <p><%= t '.none' %></p>
  <% else -%>
    <ul>
       <% segmentation_variables.each do |var| -%>
         <li>
         <%= var.name -%>
          <ul>
            <% var.segmentation_variable_values.each do |value| -%>
              <% if index.contains_segmentation_value? value -%>
                <li><%= value.value %></li>
              <% end -%>
            <% end -%>
          </ul>
         </li>
       <% end -%>
    </ul>
  <% end -%>
</div>
