<div id="forgot_password">
<%= form_tag password_resets_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, nil, {id: 'forgot-password-email'} %>
    <%= submit_tag 'Reset my password!', {id: 'forgot-password-submit'} %>
  </div>
<% end -%>
</div>
