<h2 class="basic_question">
  <span class="title"><%= basic_question.title %></span>
  <br>
  <span class="author"><%= basic_question.author %></span>
  <span class="year">(<%= basic_question.year %>)</span>
  <% if can? :edit, study -%>
    <%= edit_link polymorphic_path(study, action: :edit) %>
  <% end -%>
</h2>
