<h2 class="basic_question">
  <span class="title"><%= basic_question.title %></span>
  <span class="author"><%= basic_question.author %></span>
  <span class="year"><%= basic_question.year %></span>
</h2>
