<div class="field_work">
  <h2><%= t '.legend' %></h2>
  <ul class="boolean_list">
    <% FieldWorkQuestion::FIELDS.each do |fw| -%>
      <li>
       <%= render partial: 'boolean_field',
                  locals: { value: field_work_question.send(fw),
                            text: FieldWorkQuestion.human_attribute_name(fw) } %>
      </li>
    <% end -%>

    <%= render  partial: 'other_field',
                locals: { object: field_work_question,
                          check_attr: 'other_check',
                          :attr => 'other',
                          klass: FieldWorkQuestion } %>
  </ul>
</div>
