<% if surrounding_tag -%>
  <<%= surrounding_tag %>>
<% end -%>
  <%= f.input "#{other_collapsable_field}_check",
              wrapper: :checkbox,
              label_html: { :class => :checkbox },
              input_html: { :class => "js-other-change" } %>
  <div class="js-other-collapsable other-description">
    <%= f.input other_collapsable_field,
                as: :text,
                input_html: {rows: 4} %>
  </div>
<% if surrounding_tag -%>
  </<%= surrounding_tag %>>
<% end -%>
