<div class="periodicity">
  <div class="field">
    <%= f.label :periodicity_type %>
    <%= f.select :periodicity_type, Periodicity.select_options %>
  </div>
  <div class="field other">
    <%= f.label :other_description %><br>
    <%= f.text_area :other_description %>
  </div>
</div>
