<p>
  <%= Periodicity.model_name.human(count: 1) %>
  <span class="periodicity_type">
    <%= Periodicity.translate_option(periodicity.periodicity_type) %>
  </span>
</p>
<% if periodicity.other? -%>
  <blockquote>
    <%= periodicity.other_description %>
  </blockquote>
<% end -%>
