<div class="periodicity">
  <div class="field">
    <%= f.input :periodicity_type,
                collection: Periodicity.select_options,
                include_blank: false %>
  </div>
  <div class="field other">
    <%= f.input :other_description, input_html: { rows: 4 } %>
    <%# f.label :other_description %><br>
    <%# f.text_area :other_description %>
  </div>
</div>
