<fieldset class="software">

  <legend><%= t 'legend', scope: 'study.software_question_form' %></legend>

  <%= f.input :uses_some,
              wrapper: :checkbox,
              label_html: {:class => 'js-uses checkbox'} %>

  <div class="field js-description">
    <%= f.input :description,
                input_html: {rows: 4} %>
  </div>

</fieldset>
